.listings-wrapper{
    display: flex;
    flex-direction: row;
}

.add-opening-box{
    width: 340px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 5px;
    word-wrap: break-word;
    background-color: #F2F3F4;
    cursor: pointer;
}

.listing-left-side{
    flex-basis: 70%;
}

.listing-right-side{
    flex-basis: 30%;
}

.query-tile-wrapper{
    width: 340px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #F2F3F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

